.business-card {
  text-align: center;
  width: 450px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #c74258 0%,
    #6c63cb 100%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3 {
    font-size: 1.5em;
    padding-bottom: 10px;
    font-weight: 600;
  }
  p {
    font-size: 1em;
    &.designation {
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
      width: 300px;
    }
    &.phone,
    &.email {
      margin-top: 10px;
    }
  }
}
