.preview {
  width: 50%;
  padding: 0 15px;
  button{
    border: none;
    background-color: #cce;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 5px;
    transition: all 0.2s ease-in-out;
  }
  button:hover{
    background: rgb(143, 143, 250);
  }
}
